.card-wrap .profile-photo img{
  width:50px;
  height:50px;
}
.card-wrap .user-name{
  color:#333;
  display: inline-block;
  margin-left:10px;
  font-weight:bold;
}
.card-wrap .user-name:hover{
  color:#333;
}
.card-wrap .time{
  color:#aaa;
}
.card-wrap .post-body{
  font-size:18px;
  color:#333;
}
.card-right a{
  color:#333;
}
.btn-like i{
  color:tomato;
  cursor:pointer;
}

.comment-wrap{
  border-top:1px solid #ccc;
}
.comment-wrap a{
  color:#333;
}
.comment-wrap a:hover{
  color:#333;
}
.delete-btn{
  cursor: pointer;
}
.send-icon{
  cursor:pointer;
  color:#4689FF;
}
.comment-error{
  color:tomato;
  font-size:12px;
}

.tag-name{
  text-align: center;
  color:white;
  display: inline-block;
  width:50px;
  border-radius:3px;
  margin:0 5px;
}
.parts-1{
  background-color:orange;
}
.parts-2{
  background-color:deeppink;
}
.parts-3{
  background-color:tomato;
}
.parts-4{
  background-color:slateblue;
}
.parts-5{
  background-color:forestgreen;
}
.parts-6{
  background-color:purple;
}
.tags{
  display: flex;
  justify-content: flex-start;
  flex-wrap:wrap;
}
.checkbox label {
  position: relative;
  display: inline-block;
  width:80px;
  text-align: center;
}
.checkbox label input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
.checkbox label input[type="checkbox"] + span {
  display: block;
  color: #333;
  border: 1px solid #333;
  border-radius: 3px;
  padding:5px 5px;
  margin:8px;
}
.checkbox label input[type="checkbox"]:checked + span {
  background-color: orange;
  color: white;
}
.checkbox .tag-name {
  cursor:pointer;
}

/* comment */
.comment-wrap li{
  list-style: none;
  margin-bottom:10px;
}
#comment-data{
  margin:0;
  padding:0;
  padding-bottom:10px;
}
.delete-btn{
  color:#aaa;
  font-weight:lighter;
}
