.container{
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
  min-height:80vh;
  padding-bottom:30px;
}
img{
  width:100%;
}

/* navbar */
.nav-link{
  color:white;
  font-weight: bold;
}
.nav-link:hover{
  color:white;
  opacity:0.7;
}
.header-left{
  display: flex;
  align-items: center;
}
.header-title p{
  font-size:10px!important;
  padding:0px;
  margin:0px;
}
.header-title a{
  color:#333;
}
.header-title a:hover{
  text-decoration: none;
}
.header-title h1{
  font-size:16px;
  padding:0px;
  margin:0px;
}
.header-profile{
  border:2px solid #333;
  border-radius:50%;
  width:30px;
  height:30px;
  display: flex;
  justify-content: center;
  align-items:center;
}
.header-profile a{
  width:100%;
  text-align: center;
  display: block;
  color:#333;
}
/* welcome */
.logos{
  width:80%;
  margin:0 auto;
  display:flex;
  align-items: center;
}
#catch p{
  font-size:24px;
  font-weight: bold;
  color:#333;
}

.intro h3{
  text-align: center;
  color:#FFbb00;
  margin-bottom:30px;
}
.intro p{
  font-size:16px;
  width:80%;
  margin:0 auto;
}
/* login */
#facebook-btn{
  width:200px;
  height:50px;

  border-radius: 5px;
}
#facebook-btn a{
  background: #4267b2;
  display: block;
  width:100%;
  color:white;
  line-height: 25px;
}
#facebook-btn a:hover{
  color:white;
  background:#3355aa;
}
.fa-facebook{
  font-size:20px;
  line-height: 25px;
}
.facebook-attention{
  color:#888;
  font-size:12px;
}
/* footer */
footer{
  width:100%;
  background:#333;
  text-align: center;
}
.footer-nav{
  padding:30px 0;
  display: flex;
  justify-content: center;
}
.footer-nav a , .footer-nav span{
  color:white;
  padding:10px;
}
footer p{
  color:white;
  padding-bottom:20px;
  margin:0;
}
.pagination{
  justify-content: center;
  margin-top:20px;
}
@media all and (max-width:768px){
  .logos{
    display: block;
  }
  #catch{
    text-align: center;
  }
  .intro{
    margin-top:70px;
  }
  .intro p{
    margin-bottom:50px;
  }
}
