
.profile-wrap .user-name{
  font-size:36px;

}
.profile-wrap .btn{
  padding:0;
}
.profile-edit{
  margin-top:30px;
}
.profile-edit a{
  display: block;
  color:#333;
  text-align: center;
  margin-top:20px;
}
.profile-top{
  display: flex;
  justify-content: space-between;
}
.profile-phrase{
  color:#aaa;
  font-size: 14px;
  font-weight: bold;
  padding-top:20px;
}
.follow-btn{
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
}
.followed-btn{
  background-color:rgb(29, 161, 242);
  color:white;
  cursor: pointer;
  border-radius: 5px;
}
.profile-wrap .profile-photo{
  text-align: center;
}
.profile-wrap .profile-photo img{
  width:120px;
  height:120px;
  border:3px solid #ddd;
  border-radius:50%;
  object-fit: cover;

}

.user-graph h2{
  font-size:30px;
  color:#888;
  text-align: center;
  font-weight: bold;
  border-bottom:1px solid #aaa;
  margin:30px 0 ;
  padding:15px 0;
}
#count-table{
  width:50%;
  margin:0 auto;
}
#count-table td{
  background-color: white;
}
.pie-select{
  width:50%;
  margin:20px auto;
}
#chart-select{
  cursor:pointer;
  margin-top:30px;
}
.no-record{
  font-size:20px;
  text-align: center;
}
.follows{
  text-align: center;
  margin-top:30px;
}
.follows a{
  display: inline-block;
  color:#555;
  font-weight: bold;
  font-size:16px;
  min-width:80px;
}
.follows a:first-child{
  margin-left:30px;
  margin-right:20px;
}
.followings-wrap h1{
  margin:20px 0;
}
.follow-card{
  background: white;
  border:1px solid #333;
  border-bottom:none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.follow-card:last-child{
  border-bottom:1px solid #333;
}
.follow-left{
  display: flex;
  align-items: center;
}
.follow-left a{
  color:#333;

}
.following-link{
  display: inline-block;
  min-width:80px;
}
.follow-profile-photo{
  margin:15px;
}
.follow-profile-photo img{
  width:40px;
  height:40px;
  border:1px solid #ddd;
  border-radius:50%;
  object-fit: cover;
}
.is-followed{
  color:white;
  background-color:rgba(0,0,0,0.3);
  padding:5px;
  border-radius:3px;
  margin-left: 30px;
}
@media all and (max-width:768px){
  .profile-wrap .user-name{
    text-align: center;
  }
  #count-table{
    margin-top:30px;
  }
  .profile-top{
    display: block;
  }
  .profile-wrap .btn{
    width:100%;
    text-align: center;
  }
  .followings-wrap h1{
    font-size:18px;
    text-align: center;
  }
  .is-followed{
    display: none;
  }
}
